* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(2, 0, 14);
}

body h2 {
    font-family: "Belanosima", sans-serif;
}

.ftnm {
    background-image: linear-gradient(to right, white, gray, black);
    padding: 8px;
    min-height: 100vh;
    width: 18%;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.ft {
    padding-bottom: 100%;
    background-image: url("https://i.pinimg.com/564x/bc/08/9b/bc089bbbfee196b0e71e2570608e0f9d.jpg");
    background-size: cover;
    background-position: end;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 16px;
    margin-top: 16px;
}

.nm {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 8px;
    margin: 16px;
}

.git {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 16px;
}

.git a {
    color: white;
}

.git img {
    border-radius: 50%;
    overflow: hidden;
    width: 30%;
}

.git a:hover {
    color: blue;
}

.botaoFlutuante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: rgb(88, 88, 88);
    border-radius: 50%;
    overflow: hidden;
}

.botaoFlutuante button {
    width: 50px;
    height: 50px;
    background-color: rgb(88, 88, 88);
}

.botaoFlutuante:hover button {
    background-color: white;
    color: rgb(88, 88, 88);
}

.icone {
    background-color: rgb(88, 88, 88);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 24px;
}