.alinhamento{
    display: flex;
    height: 100%;
    right: 0;
    width: 82%;
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 0;
    color: white;
}

.alinhamento p{
    font-family: 'Belanosima', sans-serif;
}

.sobre{
    padding: 8px;
    flex: 1;
}

.jornada{
    padding: 8px;
    flex: 1;
}

.networking{
    padding: 8px;
    flex: 2;
}