@media (max-width:992px){
    *{

    }

    .alinhamento{
        position: relative;
        width: 100%;
    }

    .sobre{
        background-color: yellowgreen;
    }

    .ftnm{
        position: relative;
        width: 100%;
    }
}